
<div class="card card-register mx-auto my-5">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
        <form action="/register" method="post">

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password" required >
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>

    </div>
</div>
