<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Collegetime</title>
	<link rel="icon" href="/default/images/Untitled-06.png" type="image/png">


<%- include ('../partials/default/header-css')%>

</head>


<body class="bg-shape">

<!-- Navigation -->

<%- include ('../partials/default/top-navigation')%>



<!-- Page Content -->
<div class="">


    <%- body %>

</div>

<%- include ('../partials/default/footer')%>
</body>
